.DS_Store
.home/
_site/
vendor/
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.ruby-version
.devcontainer/
.DS_Store
.home/
_site/
vendor/
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.ruby-version
favicon.wtf.ico
.devcontainer/
